{% extends "base.html" %}

{% block content %}


<div id="welcome">
  <div class="title">
    <h2>CompoundPye</h2>
    For my master's thesis at <a href="http://www.cellneuro.uni-goettingen.de/BartGeurten.php">Bart Geurten's</a> motion vision group, I developed a Python module designed to simulate neural circuits that are structured in a columnar fashion, as in insects' compound eyes.
    <br>
    The most prominent model explaining responses of motion sensitive neurons in insects is the Hassenstein-Reichardt detector <a href="http://www.degruyter.com/view/j/znb.1956.11.issue-9-10/znb-1956-9-1004/znb-1956-9-1004.xml">[1]</a>. It correlates delayed and non-delayed signals of neighbouring photoreceptors in a symmetrical fashion, enabling them to compute the direction of objects passing both photoreceptors. A commonly used simplified Hassenstein-Reichardt detector looks like this: 
    <div class="figure">
      <div id="HRAnimation" class="image-left">
	<img id="HR" src="{{ current_page.get_relative_url('static/images/HRDAnimation.png') }}" loop="1" />
      </div>
      <div class="caption">
	The figure on the left shows a single Hassenstein-Reichardt detector unit, for which 2 neighbouring photoreceptors (open half-circles at the top) are necessary. Each photoreceptor sends its output along 2 pathways, one delayed by a time-constant $\tau$, one non-delayed. If two signals coincide at the correlation or multiplication stage <b>M</b>, it responds with a non-zero output. For a solitary input its response remains zero. At the output stage inputs arriving from the left <b>M</b> are added, while inputs arriving from the right <b>M</b> are subtracted. Hence, motion into one direction leads to positive output and motion in the opposite direction leads to negative output. 
	<div id="animationDescription">
	  Press button to start animation.
	</div>
	<div id="buttonBox">
	  <!--a href="" onclick="changeIt()"><img id="buttonPrev" src='../images/icons/previous.png' name='PlayOrPause' border='0' width="12%" height="100%" class="noOption" /></a>
	       <a href="" onclick="changeIt()"><img id="buttonRep" src='../images/icons/repeat.png' name='PlayOrPause' border='0' width="12%" height="100%" class="noOption" /></a>
	       <a href="" onclick="changeIt()"><img id="buttonNext" src='../images/icons/next.png' name='PlayOrPause' border='0' width="12%" height="100%"  /></a-->
	  <input onclick="changeIt(-1)" type="image"
		 id="buttonPrev"
		 src='{{ current_page.get_relative_url("static/images/icons/previous.png") }}' class="noOption" />
	  <input onclick="changeIt(0)" type="image" id="buttonRep"
		 src='{{ current_page.get_relative_url("static/images/icons/repeat.png") }}' class="noOption" />
	  <input onclick="changeIt(1)" type="image" id="buttonNext"
		 src='{{ current_page.get_relative_url("static/images/icons/next.png") }}' class="" />
	</div>
      </div>
      
    </div>
    
    Insects have to have a neural representation of a Hassenstein-Reichardt detector-like circuit in the layers following the photoreceptors. 
    While some neurons in these layers are known to be part of the motion detection circuit, many neurons' roles are unknown. To investigate neurons connecting to the neurons known to be part of the motion detection circuit, I developed the module <b>CompoundPye</b>. 
    <br> The general framework (excluding any parameters of the model of the circuit) are hosted on <a>github</a>, and can also be downloaded from <a>PyPI</a>, e.g. using <a>pip</a>. I focused on usability (GUI) and documentation of the code; I think it could be a useful tool for anyone in insect motion vision without enough time or knowledge on computational neuroscience to set up simulations on his own.
    <br> In contrast to the Hassenstein-Reichardt detector, the model I created for my thesis respects actual neural features way more, it does not rely on unphysiological properties like mathematical multiplication and instantaneous signal transduction. First results regarding motion detection look at least as promising as those obtained with a Hassenstein-Reichardt detector. In addition, not using explicit multiplication helps replicating response properties better for some cells.
  </div>
</div>

{% endblock %}
