{% extends "base.html" %}

{% block content %}

<div id="welcome">
  <div class="title">
    <h6><span class="underConstruction">UNDER CONSTRUCTION</span></h6>
    For my bachelor thesis followed by a student assistant job I worked on
    <a href="http://manoonpong.com/Runbot.html">RunBot</a>. It's an energy efficient bipedal
    walking robot inspired by human walking.<br><br>I want to use this page to describe the work
    after the actual thesis, where I started porting the controller from a PC to a combination of
    <a href="https://www.raspberrypi.org/help/what-is-a-raspberry-pi/">Raspberry Pi</a> and
    <a href="https://www.arduino.cc/">Arduino</a>.
    <span class="underConstruction">But I have to find time to check the status of the code that
      I wrote before I'll host it on github ... </span>
  </div>
  <div><img src="{{ current_page.get_relative_url('static/images/me_and_runbot.JPG') }}"/></div>
</div>

{% endblock %}
