{% extends "base.html" %}

{% block content %}

<div id="welcome">
  <div class="title">
    I want to learn HTML, CSS and JavaScript (and PHP and MySQL in the long run),
    starting by building this website and hosting it on my own. It seems to be the best way
    to build interfaces usable with most OS and devices, e.g. if I want to control a Raspberry Pi
    in a local network. 
    <br>One related thing that made me happy after learning the very basics of HTML was
    <a href="http://lab.hakim.se/reveal-js/#/">reveal.js</a>, which I think I'm
    going to stick to for future presentations. It should be able to display videos,
    gifs and whatever you want to show in your presentation on most operating systems and browsers. I hope.
    <br>
    <br>But seriously, how could I live without the comfort of hyperlinks so far?
  </div>
</div>

{% endblock %}
