{% extends "base.html" %}

{% block content %}

<div id="welcome">
  <div class="title">
    <h2>Welcome!</h2>
    
    I studied biophysics and complex systems in my master's at Georg-August-University G&oumlttingen. 
    When I started studying I thought physicists would look at stars and shoot particles at other
    particles all day to derive the existence of the universe from it, and I wanted to do the same. 
    But during my studies I became more and more attracted to programming,
    computational neuroscience and robotics.
    <br><br>
    I want to use this website for three things:
    <ul class="style2">
      <li> Learn/improve my HTML, CSS and JavaScript.</li>
      <li> Present larger software and hardware projects I pursued or will
	pursue, e.g. from one of my student assistant jobs (<a href="projects/runbot.html">RunBot</a>) or
	my master's thesis (<a href="projects/compoundpye.html">CompoundPye</a>)
	which I'm currently working on.</li>
      <li>Create an unified up-to-date portfolio in a way I like,
	instead of updating it on all the other platforms like
	<a class="sneaky" href="http://www.researchgate.net/">ResearchGate</a>,
	<a class="sneaky" href="https://www.linkedin.com/">LinkedIn</a>, ...<br>But so far
	<span class="underConstruction">this website is still in its infancy!</span></li>
    </ul>
  </div>
  <div class="title">
    <div>
      <h2>This Website</h2>
      I want to learn HTML, CSS and JavaScript (and PHP and MySQL in the long run),
      starting by building this website and hosting it on my own. It seems to be the best way
      to build interfaces usable with most OS and devices, e.g. if I want to control a Raspberry Pi
      in a local network. 
      <br>One related thing that made me happy after learning the very basics of HTML was
      <a href="http://lab.hakim.se/reveal-js/#/">reveal.js</a>, which I think I'm
      going to stick to for future presentations. It should be able to display videos,
      gifs and whatever you want to show in your presentation on most operating systems and browsers. I hope.
      <br>
      <br>But seriously, how could I live without the comfort of hyperlinks so far?
    </div>
    <div>
      <h3>Update 2021-07-21</h3>
      The section above was written 2016. A few things changed since then. PHP is not a goal anymore. :)
      I have built a few websites with Python (flask and django). For example this public demo at
      <a href="https://ilyasnc.uber.space/igloo">ilyasnc.uber.space/igloo</a>.
      For static websites like this one, I now use
      <a href="https://jinja.palletsprojects.com/en/3.0.x/">Jinja</a>. See the code for this website
      <a href="https://github.com/ilyasku/ikuhlemann.com">here</a>.
    </div>
    
  </div>
  <ul class="actions">
  </ul>
</div>

{% endblock %}
