{% extends "base.html" %}

{% block content %}

<div id="welcome">
  <div class="title">
    I studied biophysics and complex systems in my master's at Georg-August-University G&oumlttingen. 
    When I started studying I thought physicists would look at stars and shoot particles at other particles all day to derive the existence of the universe from it, and I wanted to do the same. 
    But during my studies I became more and more attracted to computational neuroscience and robotics.
    <br><br>
    I want to use this website for three things:
    <ul class="style2">
      <li> Learn/improve my HTML, CSS and JavaScript.</li>
      <li> Present larger software and hardware projects I pursued or will pursue, e.g. from one of my student assistant jobs (<a href="projects/runbot.html">RunBot</a>) or my master's thesis (<a href="projects/compoundpye.html">CompoundPye</a>) which I'm currently working on.</li>
      <li>Create an unified up-to-date portfolio in a way I like, instead of updating it on all the other platforms like <a class="sneaky" href="http://www.researchgate.net/">ResearchGate</a>, <a class="sneaky" href="https://www.linkedin.com/">LinkedIn</a>, ...<br>But so far <span class="underConstruction">this website is still in its infancy!</span></li>
    </ul>
  </div>
  
  <ul class="actions">
  </ul>
</div>

{% endblock %}
